<figure class="photo-display">
  <% if logged_in? && @user == current_user %>
    <%= link_to "X", user_photo_path(@user, @photo), data: {confirm: "Are you sure?", method: "delete"}, class: "delete-photo", id: "delete_#{@photo.id}" %>
  <% end %>

  <%= image_tag @photo.photo.url %>
  <figcaption id="photo-caption"><%= @photo.name %> by <%= @photo.user.username %></figcaption>
</figure>

<div class="tagged-users well">

  <div class="display-tags ">
    <ul class="list-unstyled list-inline">
      Tags:
      <% @photo.tags.each do |tag| %>
        <li>
          <%= link_to tag.tagged_user.username, user_path(tag.tagged_user) %>
          <%= link_to "(x)", tag_path(tag), data: {method: "delete"}, id: "tag_#{tag.id}" %>
        </li>
      <% end %>
    </ul>
  </div>

  <% if logged_in? %>
    <div class="add-tag">
      <%= form_for @tag, class: "form form-horizontal form-inline" do |f| %>
        <%= f.hidden_field :photo_id, value: @photo.id %>
        <%= f.collection_check_boxes :user_id, @users, :id, :username do |cb|  %>
          <% cb.label(class: "checkbox inline checkbox-inline", id: "tag_#{:user_id}") { cb.check_box(class: "checkbox") + cb.text } %>
        <% end %>

        <%= f.submit value="Tag", class: "btn btn-xs btn-success" %>
      <% end %>
    </div>
  <% end %>

</div>

<script type="text/javascript">
  $(".photo-display").hover(function() {
    $(this).addClass("overlay");
  }, function() {
    $(this).removeClass("overlay");
  });
</script>
